body {
  background-color: #f5f5f5;
}
div, a, i {
  transition: color 350ms ease-out 50ms, background-color 350ms ease-out 50ms, opacity 350ms ease-out 50ms;
}
.home__main {
  .home__main__project-description {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}