.main-body {
  // column headers
  .main-body__col-header {
    display: block;
    margin: 55px 0 50px;
    font-size: 18px;
    text-align: left;
    color: #372340;
    span {
      font-size: 14px;
      color: #a75265;
      text-decoration: underline;
    }
  }
  @media (max-width: 992px){
    .main-body__col-header.ui.header {
      min-height: 45px;
    }
  }  

  .main-body__funding {
    padding: 55px 0;
  }
  .main-body__progress {
    padding: 55px 0;
    background-color: #fff;
  }
  .main-body__complete {
    padding-bottom: 180px;
    padding-top: 55px;
    background-color: #a75265;
    h3.ui.header {
      text-align: center;
      color: #fff;
      font-size: 30px;
      letter-spacing: 0.0625em;
    }
    .main-body__col-header {
      text-align: center;
      color: #febe7e;
      span {
        color: #febe7e;
      }
    }
  }
}

.main-body__donate {
  position: relative;
  width: 100%;
  padding: 0 5% 45px;
  background-color: #372340;
  text-align: center;
  .ui.tiny.image {
    width: 55px;
  }
  .ui.small.image {
    width: 120px;
    margin-top: 10px;
  }
  h3.ui.header {
    color: #fff;
    letter-spacing: 0.0625em;
  }
  p {
    color: #febe7e;
    margin-bottom: 40px;
  }
  .main-body__donate-box {
    position: relative;
    max-width: 700px;
    margin: 0 auto 50px;
    top: -100px;
    padding: 50px 14% 80px;
    background-color: #573866;
    border-radius: 5px;
  }
  .main-body__donate-social-box {
    margin-top: -100px;
    text-align: center;
    img.ui.image {
      display: inline-block;
      margin: 0 5px;
      cursor: pointer;
      opacity: 1;
      transition: opacity 350ms ease-out 50ms;
    }
    img.ui.image:hover {
      opacity: 0.6;
    }
  }
}






