.main-body {
  padding-bottom: 40px;
  // column headers
  .main-body__col-header.ui.header {
    font-size: 18px;
    text-transform: lowercase;
    font-variant: small-caps;
    letter-spacing: 0.0625em;
    text-align: center;
  }
  @media (max-width: 992px){
    .main-body__col-header.ui.header {
      min-height: 45px;
    }
  }  
}

.main-body__donate {
  position: absolute;
  width: 100%;
  padding-bottom: 45px;
  background-color: #372340;
  text-align: center;
  .ui.tiny.image {
    width: 55px;
  }
  .ui.small.image {
    width: 120px;
    margin-top: 10px;
  }
  h3.ui.header {
    color: #fff;
    letter-spacing: 0.0625em;
  }
  p {
    color: #febe7e;
    margin-bottom: 40px;
  }
  .main-body__donate-box {
    position: relative;
    max-width: 700px;
    margin: -100px auto 50px;
    padding: 50px 14% 80px;
    background-color: #573866;
    border-radius: 5px;
  }
  .main-body__donate-social-box {
    text-align: center;
    img.ui.image {
      display: inline-block;
      margin: 0 5px;
      cursor: pointer;
      opacity: 1;
      transition: opacity 350ms ease-out 50ms;
    }
    img.ui.image:hover {
      opacity: 0.6;
    }
  }
}






